.Filters
{
    @include styled-scroll-bar(rgba($body_color,.15));
    background: $background;
    padding: 1em;
    padding-right: 2em;
    border-right: 1px solid darken($background,10%);
    overflow: auto;
    height: 100%;
    width: 20vw;
}
.Filters__title
{
    color: rgba($body_color,.5);
}