.Result
{
    padding: 0;
    margin: 0;
    display: block;
    background: $background;
    position: relative;
    
    > a
    {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        color: $body_color !important;
        text-decoration: none !important;
    }

    > a > *
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .Loader
    {
        @include animated;
    }
}
.Result--image-loaded .Loader
{
    opacity: 0;
    pointer-events: none;
}
.Result__thumb
{
    display: block;
    object-fit: cover;
    object-position: left top;
    @include animated;
}
.Result__info
{
    opacity: 0;
    @include animated;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.Result__title
{
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.Result:hover
{
    z-index: 999;
}

.Result a:hover
{
    .Result__thumb
    {
        opacity: .1;
    }
    .Result__info
    {
        opacity: 1;
    }
}

.Result__info-button
{
    @include plain-text-button;
    color: $ingredient;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}
.Result__meta-info
{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: $body_color;
    background: $background;
    opacity: 0;
    pointer-events: none;
    @include animated;
    padding: 1em;

    dl
    {
        font-size: .95em;

        > *
        {
            float: left;
            margin-bottom: .2em;
        }

        dt
        {
            clear: left;
            min-width: 21ch;
        }
    }
}
.Result__info-button:hover + .Result__meta-info
{
    opacity: 1;
    pointer-events: all;
}