.Results
{
    flex-grow: 1;
    
    overflow: auto;
    @include styled-scroll-bar;
}
.Results__posts
{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 25vh;
    gap: 1em;
    padding: 1em;
}
.Results--no-posts
{
    display: flex;
    justify-content: center;
    align-items: center;
}