.SearchField
{
    background-color: $background;
    padding: .2em .4em;
    color: $body_color;
    width: 100%;
    display: flex;
}
.SearchField__chosen-terms
{
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;

    li
    {
        display: block;
    }
}
.SearchField__user-text
{
    flex-grow: 1;
    
    &,input
    {
        border: none !important;
        outline: none !important;
        background: transparent;
    }

    input
    {
        width: 100%;
    }
}
.SearchField__share-btn
{
    @include no-button-style;
    @include animated;
    border: none;
    outline: none;
    cursor: pointer;

    .fa
    {
        color: $body_color;
    }

    &:hover .fa
    {
        color: $ingredient;
    }
}
.SearchField__results-count
{
    font-weight: 900;
}
.SearchField__results-label
{
    font-size: .75em;
    vertical-align: middle;
    line-height: 2em;
    overflow: hidden;
}