.Slider
{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.Slider__label
{
    text-align: center;
    margin: 0;
    font-size: .75em;
    background-color: $background;
    position: relative;
    z-index: 2;
    padding: 0 1em;
    pointer-events: none;
    opacity: .65;
}
.Slider__slide
{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5em;

    &:before
    {
        content : '';
        height : 1px;
        width: 100%;
        background: darken($background,15%);
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }
}
.Slider__slide-btn
{
    @include plain-text-button;
    display: block;
    height: 75%;
    width: 7px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

    cursor: pointer;
    z-index: 4;

    &--min
    {
        left: 0;
        
    }

    &--max
    {
        left: calc(100% - 5px);
    }
}
.Slider__toggle-btn
{
    @include plain-text-button;
    margin-left: .5em;
}